# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

orbs:
  maven: circleci/maven@1.4.1
  codecov: codecov/codecov@3.2.4

workflows:
  maven_test:
    jobs:
      - maven/test